body {
  height: 100vh;
  padding: 0;
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0px;
}
.body {
  height: '100vh';
  min-height: '100vh';
  background: rgb(133, 79, 235);
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.card {
  background: white;
}
